.ombre {
    box-shadow: 0px 0px 1em black;
}

.circle {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

/*#progressionCircle {}*/

.position-timer {
    position: absolute;
    top: 50%;
    left: 46%;
}

@media (max-width: 800px) {
    /*telephone ?*/
    .position-timer {
        position: absolute;
        top: 60%;
        left: 40%;
    }
}