/*creer la grande ombre demande*/
.ombre {
    box-shadow: 0px 0px 1em black;
}

/*creer un leger padding autour de cercle de progression*/
.circle {
    /*padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;*/
    padding: 3%;
}

/*#progressionCircle {}*/

/*defini la position absolue du timer pour être dans le rond*/
.position-timer {
    position: absolute;
    top: 360px;
    left: 40%;
}


#timer {
    font-size: 80px;
}

#travail {
    color: white;
    font-size: 30px;
}

#pause {
    color: white;
    font-size: 30px;
}

h1 {
    font-size: 60px;
}

/*si l'écran deviens plus petit (transition)*/
@media (max-width: 1100px) {
    /*override du .position-timer*/
    .position-timer {
        top: 330px;
        left: 40%;
    }

    #timer {
        font-size: 60px;
    }

    #travail {
        font-size: 25px;
    }
    
    #pause {
        font-size: 25px;
    }

    h1 {
        font-size: 50px;
    }
}

/*si l'écran deviens petit (final)*/
@media (max-width: 800px) and (max-resolution: 1.5dppx) {
    /*override du .position-timer*/
    .position-timer {
        top: 0px;
        left: 37%;
    }

    #timer {
        font-size: 40px;
    }

    #travail {
        font-size: 18px;
    }
    
    #pause {
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
    }
}

/*telephone ?*/
@media (max-width: 800px) {
    /*override du .position-timer*/
    .position-timer {
        top: 200px;
        left: 37%;
    }

    #timer {
        font-size: 40px;
    }

    #travail {
        font-size: 18px;
    }
    
    #pause {
        font-size: 18px;
    }

    h1 {
        font-size: 35px;
    }
}

.bandeau {
    height: 95vh;
}

html, body {
    height: 100vh;
}

#ss {
    padding: 0px;
}